<footer>
    <div class="container">
       <div class="row">
          <div class="col-md-4">
              <div class="full">
                 <div class="logo_footer">
                  <img width="170" src="{{ url_for('static', filename='img/logo-f.png') }}" alt="#" />
                 </div>
                 <div class="information_f">
                   <p><strong>Github:</strong> <a href="https://github.com/lailyrhmh/capstone-project-sib-dicoding"> Capstone Project SIB Dicoding</a></p>
                   <p><strong>EMAIL:</strong> <br> M247Y0506@dicoding.org M247Y0501@dicoding.org M494Y1034@dicoding.org M014Y0131@dicoding.org</p>
                 </div>
              </div>
          </div>
          <div class="col-md-8">
             <div class="row">
             <div class="col-md-7">
                <div class="row">
                   <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Menu</h3>
                   <ul>
                      <li><a href="{{ url_for('views.home')}}">Home</a></li>
                      <li><a href="{{ url_for('views.recommendation') }}">Recommendation</a></li>
                      <li><a href="{{ url_for('views.about') }}">About</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-6">
                <div class="widget_menu">
                   <h3>Team C22-127</h3>
                   <ul>
                      <li><a href="#">Laily Rachmah</a></li>
                      <li><a href="#">Amazida</a></li>
                      <li><a href="#">Nurul Tazkiyah Adam</a></li>
                      <li><a href="#">Putu Ayu Novia Aryanti</a></li>
                   </ul>
                </div>
             </div>
                </div>
             </div>     
             <div class="col-md-5">
                <div class="widget_menu">
                   <h3>Dicoding Indonesia</h3>
                   <div class="information_f">
                     <p>Pengembang Machine Learning dan Front-End Web</p>
                   </div>
                </div>
             </div>
             </div>
          </div>
       </div>
    </div>
 </footer>