{% extends 'layouts/main.html' %}

{% block content %}

<section class="product_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
         <h3>
            Want Some Recomendation Activity?
         </h3>
      </div>
      <p align="center">
         Hi! How are you? Please choose your mood today...
      </p>
      <div class="row">
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('angry')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Angry
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('awful')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/awful.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Awful
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('bad')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/bad.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Bad
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('blessed')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/blessed.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <button type="submit" class="option" onclick="find('focused')">
                        Get Activities
                     </button>
                  </div>
               </div>
               <div class="img-box">
                  <img src="../static/img/angry.png" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     Blessed
                  </h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<script>
   function find(val) {
     window.location.href="/find?sub_mood="+val;
   }
 </script>

{% endblock %}