{% extends 'layouts/main.html' %}

{% block content %}

<!-- <main>
    <h2>
        INI MAIN
    </h2>
</main> -->

<section class="slider_section">
    <div class="slider_bg_box">
        <img src="../static/img/bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
           <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                 <h1>
                    <span>
                    Be Productive
                    </span>
                    <br>
                    On Every Single Day
                 </h1>
                 <p>
                  How is your mood today? Keep your mood in check to keep your productivity. Improve your mood with activity recommendations that can help you live your beautiful day.
                 </p>
                 <div class="btn-box">
                    <a href="" class="btn1">
                    Try Recommendation
                    </a>
                 </div>
              </div>
           </div>
        </div>
    </div>
</section>

<section class="layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Our <span>Missions</span>
         </h2>
         <p>Tell us your mood today and get recommendations for mood-boosting activities</p>
      </div>
   </div>
</section>

{% endblock %}