{% extends 'layouts/main.html' %}

{% block content %}

<!-- <main>
    <h2>
        INI MAIN
    </h2>
</main> -->

<section class="slider_section">
    <div class="slider_bg_box">
        <img src="../static/img/bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="row">
           <div class="col-md-7 col-lg-6 ">
              <div class="detail-box">
                 <h1>
                    <span>
                    Be Productive
                    </span>
                    <br>
                    On Every Single Day
                 </h1>
                 <p>
                  How is your mood today? Keep your mood in check to keep your productivity. Improve your mood with activity recommendations that can help you live your beautiful day.
                 </p>
                 <div class="btn-box">
                    <a href="{{ url_for('views.recommendation') }}" class="btn1">
                    Try Recommendation
                    </a>
                 </div>
              </div>
           </div>
        </div>
    </div>
</section>

<section class="layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <div class="container-fluid text-center">
            <h2>
               Our <span>Missions</span>
            </h2>
            <h4>What we offer</h4>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <h4>Free to use</h4>
                <p>You can try this website for free</p>
              </div>
              <div class="col-sm-4">
                <h4>Good mood</h4>
                <p>You can find activities that suit your mood</p>
              </div>
              <div class="col-sm-4">
                <h4>Best recommendations</h4>
                <p>You get recommendations for what you can do at that time</p>
              </div>
            </div>
      </div>
   </div>
</section>

{% endblock %}